
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@1,300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
:root{
    --primary-color: #0e48f1;
    --panel-color: #FFF;
    --text-color: #000;
    --black-light-color: #707070;
    --border-color: #e6e5e5;
    --toggle-color: #DDD;
    --box1-color: #4DA3FF;
    --box2-color: #FFE6AC;
    --box3-color: #E7D1FC;
    --title-icon-color: #fff;
    --active-link-background: #F1F1F1;


    /* transitions */
    --tran-05: all 0.5s ease-out;
    --tran-03: all 0.3s ease-out;
    --tran-03: all 0.2s ease;
}

body{
    min-height: 100vh;
}

body.dark{
    --primary-color: #3A3B3C;
    --panel-color: #242526;
    --text-color: #FFF;
    --black-light-color: #CCC;
    --border-color: #4D4C4C;
    --toggle-color: #FFF;
    --box1-color: #3A3B3C;
    --box2-color: #3A3B3C;
    --box3-color: #3A3B3C;
    --title-icon-color: #CCC;
    --active-link-background: #3A3B3C;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: var(--panel-color);
    padding: 10px 14px;
    border-right: 2px solid var(--border-color);
    transition: var(--tran-05);
}

nav.close{
    width: 73px;
}

nav .logo-name{
    display: flex;
    align-items: center;
}

nav .logo-image{
    display: flex;
    justify-content: center;
    min-width: 45px;
}

nav .logo-image img{
    width: 45px;
    object-fit: cover;
    border-radius: 50%;
}
.logo-name .logo_name{
    font-size: 22px;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 14px;
    transition: var(--tran-05);
}

nav .menu-items{
    margin-top: 40px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction:  column;
    justify-content: space-between;
}

nav.close .logo_name{
    opacity: 0;
    pointer-events: none;
}

.menu-items li{
    list-style: none;
}

.menu-items li a{
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    position: relative;
}
.nav-links li a:hover:before{
    content: " ";
    position: absolute;
    left: -7px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--primary-color);
}
.menu-items .nav-links li .active{
    background-color: var(--active-link-background);
    border-radius: 5px;
}

body.dark li a:hover::before{
    background-color: var(--text-color);
}

.menu-items li a i{
    font-size: 24px;;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black-light-color);
}

.menu-items li a .link-name{
    color: var(--black-light-color);
    font-size: 18px;
    font-weight: 400;
    transition: var(--tran-05);
}

nav.close li a .link-name{
    opacity: 0;
    pointer-events: none;
}

.nav-links li a:hover i,
.nav-links li a:hover .link-name{
    color: var(--primary-color);
}

body.dark .nav-links li a:hover i,
body.dark .nav-links li a:hover .link-name{
    color: var(--text-color);
}

.menu-items .logout-mode{
    margin-top: 10px;
    border-top: 1px solid var(--border-color);
}
.menu-items .mode{
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.menu-items .mode-toggle{
    height: 50px;
    position: absolute;
    right: 14px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.mode-toggle .switch{
    position: relative;
    display: inline-block;
    border-radius: 25px;
    height: 22px;
    width: 40px;
    background-color: var(--toggle-color);
}

.switch:before{
    content: " ";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: var(--panel-color);
    border-radius: 50%;
    transition: var(--tran-03);
}

body.dark .switch::before{
    left: 20px;
}

/* section css */

.dashboard{
    height: 100vh;
    width: calc(100% - 250px);
    left: 250px;
    position: relative;
    background-color: var(--panel-color);
    padding: 10px 14px;
    transition: var(--tran-05);
}

nav.close ~ .dashboard{
    left: 73px;
    width: calc(100% - 73px);
}
.dashboard .top{
    position: fixed;
    top: 0;
    left: 250px;
    display: flex;
    width: calc(100% - 250px);
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    background-color: var(--panel-color);
    transition: var(--tran-05);
    z-index: 10;
}

nav.close ~ .dashboard .top{
    left: 73px;
    width: calc(100% - 73px);
}

.dashboard .top .sidebar-toggle{
    font-size: 26px;
    color: var(--text-color);
    cursor: pointer;
}

.dashboard .top .search-box{
    position: relative;
    height: 45px;
    max-width: 600px;
    width: 100%;
    margin: 0 30px;
}

.top .search-box input{
    position: absolute;
    border: 1px solid var(--border-color);
    background-color: var(--panel-color);
    padding: 0 25px 0 50px;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 400;
    outline: 1px solid var(--primary-color);
}

.top .search-box i{
    position: absolute;
    left: 15px;
    font-size: 15px;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    color: var(--black-light-color);
}

.top img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.dashboard .dash-content{
    padding-top: 40px;
}

.overview  .title-wrapper{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
}

.dash-content .title{
    display: flex;
    align-items: center;
    margin: 60px 0 30px 0;
}

.dash-content .title i{
    position: relative;
    height: 35px;
    width: 35px;
    background-color: var(--primary-color);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: var(--text-color);
}

.dash-content .title .text{
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 10px;
}

.dash-content .boxes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.dash-content .boxes .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    width: calc(100% / 3 - 15px);
    padding: 15px 20px;
    background-color: var(--box1-color);
    transition: var(--tran-05);

}

.boxes .box i{
    font-size: 35px;
    color: var(--text-color);
}

.boxes .box .text{
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
}

.boxes .box .number{
    font-size: 40px;
    font-weight: 500;
    color: var(--text-color);
}

.boxes .box.box2{
    background-color: var(--box2-color);
}

.boxes .box.box3{
    background-color: var(--box3-color);
}

/* responsive design */

@media (max-width: 1000px){
    nav{
        width: 73px;
    }

    nav.close{
        width: 250px;
    }
    nav .logo_name{
        opacity: 0;
        pointer-events: none;
    }

    nav.close .logo_name{
        opacity: 1;
        pointer-events: auto;
    }
    nav li a .link-name{
        opacity: 0;
        pointer-events: none;
    }


    nav.close li a .link-name{
        opacity: 1;
        pointer-events: auto;
    }


    nav ~ .dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }

    nav.close ~ .dashboard{
        left: 250px;
        width: calc(100% - 250px);
    }

    nav ~ .dashboard .top{
        left: 73px;
        width: calc(100% - 73px);
    }

    nav.close ~ .dashboard .top{
        left: 250px;
        width: calc(100% - 250px);
    }

}


@media (max-width: 780px){
    .dash-content .boxes .box{
        width: calc(100% / 2 - 15px);
        padding-top: 15px;
        margin-top: 10px;
    }

}

@media (max-width: 560px){
    .dash-content .boxes .box{
        width: 100%;
        margin-top: 10px;
    }
}

@media (max-width: 500px){
    nav{
        width: 73px;
    }

    nav.close{
        width: 73px;
    }
    nav .logo_name{
        opacity: 0;
        pointer-events: none;
    }

    nav.close .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav li a .link-name{
        opacity: 0;
        pointer-events: none;
    }


    nav.close li a .link-name{
        opacity: 0;
        pointer-events: none;
    }


    nav ~ .dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }

    nav.close ~ .dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }

    nav ~ .dashboard .top{
        left: 73px;
        width: calc(100% - 73px);
    }

    nav.close ~ .dashboard .top{
        left: 73px;
        width: calc(100% - 73px);
    }

    .dashboard .top .sidebar-toggle{
        display: none;
    }
}

#manage-users-dataTable_length{
    padding-bottom: 10px;
}
#manage-users-dataTable_filter{
    padding-bottom: 10px;
}

.paginate_button .current{
    background-color: var(--primary-color);
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    color: var(--text-color) !important;
    border-radius: 5px !important;
}


/*css buttons*/

.dataTables_wrapper .dt-buttons {
    float:none;
    text-align:center;
}

.dataTables_wrapper .dt-buttons button{
    background-color: white !important;
    border-radius: 5px !important;
    color: var(--text-color) !important;
}

.dataTables_wrapper .dataTables_filter input{
    padding: 8px !important;
}

.dataTables_wrapper .dataTables_length select{
    padding: 8px !important;
}

/* client login section*/
.login_img_section {
    background-image: linear-gradient(rgba(2,2,2,.7),rgba(0,0,0,.7)),url("../images/carousel/bustani.jpeg");
    background-position: center;
    background-size: cover;
}
/* end of the login section*/