@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@1,300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/*font*/
body {
    font-family: 'Poppins', sans-serif;
}

.bg-cream {
    background-color: #FFF2E1;
}

#loading-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 3px;
    background-color: red; /* Use your desired background color */

}

.bg-yellow-500 {
    background-color: #F48C06;
}

.text-yellow-500 {
    color: #F48C06;
}

.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 8px);
    }
    100% {
        transform: translate(0, -0px);
    }
}

.floating-4 {
    animation-name: floating;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating-4 {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 8px);
    }
    100% {
        transform: translate(0, -0px);
    }
}

.text-darken {
    color: #2F327D;
}

.bg-yellow-500 {
    background-color: #F48C06;
}

.text-yellow-500 {
    color: #F48C06;
}

.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 8px);
    }
    100% {
        transform: translate(0, -0px);
    }
}

.floating-4 {
    animation-name: floating;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating-4 {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 8px);
    }
    100% {
        transform: translate(0, -0px);
    }
}

.text-darken {
    color: #2F327D;
}

/*other css */

:root {
    --main-color: #0060a3;
    --secondary-color: #ac8342;
    --tertiary-color: #be1e2d;
    --black-color: #414042;
    --gray-color: #e6e7e8;
    --white-color: #ffffff;
}

.footer-bg {
    background-color: white;
}

.icons-bg {
    color: var(--secondary-color);
}

.custom-bg {
    background-color: var(--secondary-color);
}

.is-sticky {
    position: fixed;
    top: 0;
    left: 0;
    -webkit-animation: 0.95s ease-in-out 0s normal none 1 running fadeInDown;
    animation: 0.95s ease-in-out 0s normal none 1 running fadeInDown;
    z-index: 999;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
}

@keyframes fadeInDown {
    from {

        transform: translateY(-300px);
    }

    to {

        transform: translateY(0);
    }
}

.package-bg {
    background-color: #f5e2c6;
}

.main-bg {
    background-color: var(--main-color);
}

.custom-text {
    color: var(--main-color);
}

.secondary-color-text {
    color: var(--secondary-color);
}

/*dental pro css*/

#menu-toggle:checked + #menu {
    display: block;
}

#dropdown-toggle:checked + #dropdown {
    display: block;
}

a,
span {
    position: relative;
    text-decoration: none;
    transition: all 0.3s ease;
}

a.arrow,
span.arrow {
    display: flex;
    align-items: center;
    font-weight: 600;
    line-height: 1.5;
}

a.arrow .arrow_icon,
span.arrow .arrow_icon {
    position: relative;
    margin-left: 0.5em;
}

a.arrow .arrow_icon svg,
span.arrow .arrow_icon svg {
    transition: transform 0.3s 0.02s ease;
    margin-right: 1em;
}

a.arrow .arrow_icon::before,
span.arrow .arrow_icon::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 0;
    height: 2px;
    background: #38b2ac;
    transform: translateY(-50%);
    transition: width 0.3s ease;
}

a.arrow:hover .arrow_icon::before,
span.arrow:hover .arrow_icon::before {
    width: 1em;
}

a.arrow:hover .arrow_icon svg,
span.arrow:hover .arrow_icon svg {
    transform: translateX(0.75em);
}

.cover {
    border-radius: 10px 10px 113px 10px;
}

/*smaller screens*/

@media only screen and (max-width: 600px) {
    .cover {
        border-radius: 10px 10px 60px 10px;
    }
}

.bg-blue-teal-gradient {
    background: #ac8342;
    background: linear-gradient(90deg, #17527c 0%, #0060a3 100%);
}

.secure-icon {
    color: #0060a3;
}

.svg-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: url('#mypath');
}

/* choose therapy section*/

.choose-therapy {
    background: linear-gradient(to right bottom, #ac8342, rgba(0, 96, 163, 0.73)), url('../images/carousel/cover-bg.jpg'), center center/cover no-repeat;
    transform: skewY(-3deg);
}

.choose-therapy > * {
    transform: skewY(3deg);
}

.choose-therapy-individual--container {
    background: #FFFFFF;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
}

.choose-therapy--individual img {
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: .6rem;
    filter: grayscale(100%);
}

/* end of choose therapy section*/

/*why chose chiromo section */
.why-choose--chiromo {
    background: linear-gradient(to right bottom, rgba(171, 195, 215, 0.63), rgba(0, 96, 163, 0.73));
    clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
}

.why-choose-img--container {
    filter: drop-shadow(4px 4px 4px rgba(255, 255, 255, 0.3));
}

.why-choose-img--content:hover .reason-img:not(:hover) {
    transform: scale(0.9);
    box-shadow: 0 1.0rem 4rem rgba(0, 0, 0, 0.1);
}

.reason-img {
    width: 60%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 1rem;
    position: absolute;
    z-index: 1;
    transition: all 0.2s;
    outline-offset: .8rem;
}

.reason-img1 {
    left: 0;
    top: -1rem;
}

.reason-img1:hover {
    transform: scale(1.05);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5);
    z-index: 10;
    cursor: pointer;
    outline: .3rem solid #ac8342;
}

.reason-img2 {
    right: 0;
    top: 2rem;
}

.reason-img2:hover {
    transform: scale(1.05);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5);
    z-index: 10;
    cursor: pointer;
    outline: .3rem solid #ac8342;
}

.reason-img3 {
    left: 20%;
    top: 6rem;
}

.reason-img3:hover {
    transform: scale(1.05);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5);
    z-index: 10;
    cursor: pointer;
    outline: .3rem solid #ac8342;
}

@media only screen and (max-width: 600px) {

    .reason-img1{
        left: 0;
        top: -2rem;
    }

    .reason-img2 {
        right: 0;
        top: .5rem;
    }
    .reason-img3 {
        left: 20%;
        top: 2rem;
    }
}

.gift-img{
    clip-path: ellipse(50% 50% at 50% 50%);
    cursor: pointer;
}

.circle{
    background: linear-gradient(to right bottom, #ac8342 40%, #0060a3 60%);
    filter: blur(100px);
}


/* end of the section*/

/* stories section */
.top-stories {
    background: #fafafa;
}

.stories-card {
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 30rem;

}

.stories-card--side-front {
    background: #FFFFFF;
    height: 30rem;
    transition: all 0.5s;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    backface-visibility: hidden;

}

.stories-card--side-back {
    background-image: linear-gradient(to right bottom, #ac8342, #d28c24);
    height: 30rem;
    padding: 10px;
    transition: all 0.5s;
    transform: rotateY(-180deg);
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    backface-visibility: hidden;
}

.stories-card:hover .stories-card--side-front {
    transform: rotateY(180deg);
}

.stories-card:hover .stories-card--side-back {
    transform: rotateY(0);
}

.card-picture {
    background-image: linear-gradient(to right bottom, #ac8342, #d28c24), url("../images/carousel/launching.jpg");
    height: 16rem;
    background-size: cover;
    background-position: top;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}
.card-picture-1 {
    background-image: linear-gradient(to right bottom, #41789f, #0060a3), url("../images/carousel/frank.jpg");
    height: 16rem;
    background-size: cover;
    background-position: top;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.card-picture-2 {
    background-image: linear-gradient(to right bottom, #881919, #931616), url("../images/carousel/police.jpg");
    height: 16rem;
    background-size: cover;
    background-position: top;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

/*end*/

/* mental care legacy */
.legacy-container--img {
    position: relative;
    overflow: hidden;
    border-radius: 2.5rem;
}
.legacy-container--img span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    font-size: 6rem;
    cursor: pointer;
}

.legacy-container--text h3 {
    background: linear-gradient(to right, #ac8342, #0060a3);
    -webkit-background-clip: text;
    color: transparent;
}

.welcome-custom-text {
    background: linear-gradient(to right, #ac8342, #0060a3);
    -webkit-background-clip: text;
    color: transparent;
}

.how-it-works {
    background: linear-gradient(to right, #ac8342, #0060a3);
    -webkit-background-clip: text;
    color: transparent;
}

.steps-border{
    border-radius: 5px 50px 5px 5px;
    box-shadow: 1px 1px 1px 1px #0060a3;
}


.steps-border:hover{
    box-shadow: 2px 2px 2px 2px #0060a3;
    transition: ease-out 0.3s;
}
@media only screen and (max-width: 600px) {
    .steps-border{
        border-radius: 5px 20px 5px 5px;
    }
}

/* end of mental care legacy */

/* assessments css */

.app {
    background: #fff;
    width: 100%;
    max-width: 900px;
    margin: 20px auto 0;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.app h1 {
    font-size: 24px;
    color: #0060a3;
    font-weight: 600;
    border-bottom: 1px solid #ac8342;
    padding-bottom: 30px;

}

.quiz {
    padding: 20px 0;
}

.quiz h2 {
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
    padding-bottom: 10px;
}

.btn {
    background-color: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover:not([disabled]) {
    background: #ac8342;
    color: #fff;
    border: none;
}

.btn:disabled {
    cursor: no-drop;
}

#next-btn {
    background: #ac8342;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.correct {
    background: #9aeabc;
    border: none;
}

.incorrect {
    background: #ff9393;
    border: none;
}

/*gift a member css*/
.site-landing-page {
    background-color: #fffffa;
    background-image: url('../images/mental/landing-page.png');
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 1080px;
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
}

.site-landing-page-alt {
    background-image: url('../images/mental/mental-banner.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    padding: 30px;
}

.logo {
    display: block;
    padding-bottom: 3em;
}

.logo a {
    display: inline-block;
}

.logo img {
    width: 100%;
    max-width: 300px;
}

.landing-page-text-wrap {
    width: 50%;
    padding-top: 8em;
    padding-bottom: 1em;
    z-index: 10;
    position: static;
    box-sizing: border-box;
}

.landing-page-text h1 {
    padding-bottom: 0.5em;
    font-size: 3.6em;
    color: #0060a3;
    line-height: 1.2;
}

.landing-page-text h1 span {
    color: #ac8342;
    display: inline;
}

.landing-page-text h5 {
    padding-bottom: 1em;
    font-size: 21px;
    color: #5b6770;
    line-height: 1.2;
}

.btn-danger, .bg-danger {
    background-color: #ba0c2f !important;

}

.text-danger {
    color: #ba0c2f !important;

}

.payment .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #ba0c2f;
}

.nav-pills .nav-link {
    background: 0 0;
    border: 0;
    color: white;
    background: #6c757d;
    border-radius: 0;
}

.landing-page-text a {
    background-color: var(--main-color);
    padding: 15px 30px;
    text-transform: capitalize;
    color: #FFF;
    font-size: 1.8em;
    display: inline-block;
    border-radius: 4px;
    margin-top: 5rem;
}

.shape {
    position: absolute;
    display: flex;
}

.shape.shape-1 {
    top: 0;
    left: 10%;
}

.shape.shape-1 img {
    max-width: 270px;
}

.shape.shape-2 {
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.shape.shape-2 img {
    max-width: 150px;
}

.shape.shape-3 {
    bottom: 0;
    left: 0;
}

.shape.shape-3 img {
    max-width: 600px;
}

.shape.shape-4 {
    bottom: 0;
    right: 0;
    z-index: 1;
}

.shape.shape-4 img {
    max-width: 750px;
}

@media (max-width: 1600px) {
    .site-landing-page {
        background-size: 900px;
    }
}

@media (max-width: 1440px) {
    .site-landing-page {
        background-size: 840px;
    }
}

@media (max-width: 1366px) {
    .site-landing-page {
        background-size: 800px;
    }

    .shape.shape-4 img {
        max-width: 530px;
        z-index: 1;
    }

    .shape.shape-3 img {
        max-width: 350px;
    }

    .shape.shape-1 {
        top: 0;
        left: 15px;
    }
}


@media (max-width: 1024px) {
    .site-landing-page {
        background-size: contain;
        background-position: 150% 0px
    }

    .landing-page-text h1 {
        font-size: 2.6em;
    }
}

@media (max-width: 960px) {
    .site-landing-page {
        background-size: contain;
        background-position: bottom;
    }

    .hero-container {
        min-height: 100vh;
    }

    .landing-page-text-wrap {
        width: 100%;
        padding: 5em;
    }
}

@media (max-width: 810px) {
    .landing-page-text-wrap {
        padding: 5em 2em;
    }

}


@media (max-width: 768px) {
    .landing-page-text-wrap {
        width: 80%;
    }

    .landing-page-text-wrap {
        padding: 3em 1em;
    }

    .landing-page-text h1 {
        font-size: 2em;
    }

    .logo {
        padding-bottom: 1.5em;
    }
}


@media (max-width: 480px) {

    .landing-page-text-wrap {
        width: 100%;
        position: static;
        z-index: 10;
    }

    .shape.shape-1 img {
        max-width: 120px;
    }

    .shape.shape-2 img {
        max-width: 100px;
    }

    .shape.shape-4 img {
        max-width: 260px;
    }

    .logo img {
        max-width: 200px;
    }

    .landing-page-text h1 {
        font-size: 1.7em;
    }

    .landing-page-text h5 {
        font-size: 16px;
        padding-top: 3rem;
    }

    .landing-page-text a {
        padding: 10px 20px;
        font-size: 1.2em;
    }

    .landing-page-text-wrap {
        padding: 5em 1em;
    }
}

/*end of gift a member css*/

/*about us section*/

.about-us {
    background: linear-gradient(to right bottom, rgba(171, 195, 215, 0.63), rgba(0, 96, 163, 0.73)), url('../images/carousel/bustani.png'), center center/cover no-repeat;
    border-radius: 10px 10px 10px 120px;
}

.about-us-text h1 {
    padding-bottom: 0.5em;
    font-size: 2.2em;
    color: #0060a3;
    line-height: 1.2;
    font-weight: 600;
}

.about-us-text h1 span {
    color: #ac8342;
    display: block;
    padding-bottom: 1rem;
}

.services-img--burnout {
    background-image: linear-gradient(to right bottom, #6e96b2, #0060a3), url("../images/disorders/image-1.jpg");
    height: 16rem;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    background-position: top;
    background-size: cover;
}

.services-img--anxiety {
    background-image: linear-gradient(to right bottom, #6e96b2, #0060a3), url("../images/disorders/image-3.jpg");
    height: 16rem;
    background-blend-mode: screen;
    background-position: top;
    background-size: cover;
}

.services-img--depression {
    background-image: linear-gradient(to right bottom, #6e96b2, #0060a3), url("../images/disorders/image-4.jpg");
    height: 16rem;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
    background-position: top;
    background-size: cover;
}

.services-img--ptsd{
    background-image: linear-gradient(to right bottom, #6e96b2, #0060a3), url("../images/disorders/image-5.jpg");
    background-size: cover;
    background-position: top;
    height: 16rem;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}
.services-img--suicide{
    background-image: linear-gradient(to right bottom, #6e96b2, #0060a3), url("../images/disorders/image-6.jpg");
    background-size: cover;
    background-position: top;
    height: 16rem;
    background-blend-mode: screen;
}
.services-img--alcohol {
    background-image: linear-gradient(to right bottom, #6e96b2, #0060a3), url("../images/disorders/image-7.png");
    height: 16rem;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
}
.team-container--img img{
    border-radius: 110px 2px 110px 2px;
}

/* client login section*/
.login_img_section {
    background-image: linear-gradient(rgba(2,2,2,.7),rgba(0,0,0,.7)),url("../images/carousel/bustani.jpeg");
    background-position: center;
    background-size: cover;
}
/* end of the login section*/

/*leadership section*/
.leadership{
    border-radius: 100px 6px 100px 6px;
}
/*section end*/
/*fullCalender css*/
.fc .fc-button-primary{
    background-color: #0060a3 !important;
    border-color: #0060a3 !important;
}
.fc-col-header th{
    background: #0060a3 !important;
    color: white !important;
}
.fc-col-header{
    background-color: #e0e2e4;
    height: 40px !important;
    text-align: center !important;
}
/* on small screens I want to hide the title*/

@media screen and (max-width: 650px) {
    .fc-toolbar-title {
        font-size: 14px !important;
        font-weight: 600 !important;
    }

}

@media screen and (max-width: 970px) {
    .fc-toolbar-title {
        display: none !important;
    }

    .fc-listMonth-button{
        display: none !important;
    }

    .fc-dayGridMonth-button{
        display: none !important;
    }

}

.content{
    display: none;
}
.wrapper.active .content{
    display: block;
}
.content-time{
    display: none;
}
.wrapper-time.active .content-time{
    display: block;
}
/*end fullCalender*/

/*loading */

.load{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f5f4;
    transition: opacity 0.7s, visibility 0.7s;
    z-index: 99;
}
.load-hidden{
    opacity: 0;
    visibility: hidden;
}
.load::after{
    content: "";
    width: 50px;
    height: 50px;
    border: 2px solid #f2f5f4;
    border-top-color: var(--background-color);
    border-radius: 50%;
    animation: loading 0.7s ease infinite;

}
@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*css for the new loading*/

.spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(206, 227, 220);
}

.spinner > div {
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bounceDelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounceDelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
      }
}

/*navbar*/
nav ul li a:hover{
    color: #ac8342;
    transition: 0.5s;
}
nav ul li a::after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #ac8342;
    transition: 300ms ease-out;
}
nav ul li a:hover::after{
    width: 100%;
    transition: 300ms ease-out;
}
nav ul li a.active{
    color: black !important;
}
/*end*/

/*feedback form*/
.feedback-form{
    display: none;
}
.feedback-form-header{
    background: linear-gradient(to right bottom, #ac8342, #0060a3);
}

.feedback-question-active{
    background-color: #0060a3 !important;
}
/*career section*/
